<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-lg-4">

                <div class="about-page">
                    <h2 class="title">About Us</h2>
                    <ul class="about-list d-flex">
                        <li> <a routerLink="/"  >  <img src="https://code-concrete.com/assets/img/shape/shape1.svg" alt="" class="first-img">Home </a> </li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12  col-lg-4 d-flex " style="justify-content: end;">
                <div class="about-page">

                    <img src="https://code-concrete.com/assets/img/shape/shape2.png" alt="" class="second-img">

                </div>
            </div>
        </div>
    </div>


</section>


<section class="about-digi ptb-100 ">
    <div class="container-fluid">
        <div class="row align-item-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="https://code-concrete.com/assets/img/about/img1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="content">
                    <span class="sub-content">
                        <img src="https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">About Us
                    </span>
                    <h2 class="digi-title">Drive Digital Revolution Through Information Technology</h2>
                    <p class="about-para">We campaign team of synergy from individual
                        and set up the business with change + positive progressive frame of mind in every aspect of work
                        line.</p>
                    <ul class="digi-list">
                        <li>
                            <span class="cart">

                                <div class="icon">
                                    <img src="https://code-concrete.com/assets/img/icon1.png" alt="">
                                </div>
                                <h3 class="about-hr">10Years</h3>
                                <p class="pr">On The Market</p>
                            </span>
                        </li>
                        <li>
                            <span class="cart">
                                <div class="icon">
                                    <img src="https://code-concrete.com/assets/img/icon1.png" alt="">
                                </div>
                                <h3 class="about-hr">10Years</h3>
                                <p class="pr">On The Market</p>

                            </span>

                        </li>
                        <li>
                            <span class="cart">
                                <div class="icon">
                                    <img src="https://code-concrete.com/assets/img/icon1.png" alt="">
                                </div>
                                <h3 class="about-hr">10Years</h3>
                                <p class="pr">On The Market</p>
                            </span>
                        </li>
                        <li>
                            <span class="cart">
                                <div class="icon">
                                    <img src="https://code-concrete.com/assets/img/icon1.png" alt="">
                                </div>
                                <h3 class="about-hr">10Years</h3>
                                <p class="pr">On The Market</p>
                            </span>
                        </li>
                    </ul>
                    <p class="about-pr">We are based in Surat, India. a City that has become the perfect
                        spot for software nearshoring due to its location and time zone. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="about-inner">
            <div class="row">
                <div class="check d-flex">
                    <div class="col-lg-4 col-md-6  col-sm-6">
                        <div class="inner">
                            <h3 class="text1">Our Mission</h3>
                            <p class="para1">Real innovations and a positive customer experience are the heart of
                                successful communication.</p>
                            <ul class="inner-list">
                                <li> <i class="fa-solid fa-square-check"></i>Activeting Listing</li>
                                <li> <i class="fa-solid fa-square-check"></i>Brillent Mind</li>
                                <li> <i class="fa-solid fa-square-check"></i>Better,Best</li>
                                <li> <i class="fa-solid fa-square-check"></i>Stay real Always</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6" >
                        <div class="inner">
                            <h3 class="text1">Our Mission</h3>
                            <p class="para1">Real innovations and a positive customer experience are the heart of
                                successful communication.</p>
                            <ul class="inner-list">
                                <li> <i class="fa-solid fa-square-check"></i>Activeting Listing</li>
                                <li> <i class="fa-solid fa-square-check"></i>Brillent Mind</li>
                                <li> <i class="fa-solid fa-square-check"></i>Better,Best</li>
                                <li><i class="fa-solid fa-square-check"></i>Stay real Always</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6">
                        <div class="inner">
                            <h3 class="text1">Our Mission</h3>
                            <p class="para1">Real innovations and a positive customer experience are the heart of
                                successful communication.</p>
                            <ul class="inner-list">
                                <li> <i class="fa-solid fa-square-check"></i>Activeting Listing</li>
                                <li><i class="fa-solid fa-square-check"></i>Brillent Mind</li>
                                <li> <i class="fa-solid fa-square-check"></i>Better,Best</li>
                                <li> <i class="fa-solid fa-square-check"></i>Stay real Always</li>
                            </ul>
                        </div>
                    </div>
                    <div class="circle-img">
                        <img src="https://code-concrete.com/assets/img/shape/circle-shape1.png" alt="">
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<section class="people pb-100">
    <div class="container">
        <div class="row">
            <div class="check d-flex">
                <div class="col-md-12 col-lg-6  d-flex">
                    <div class="title">
                        <span class="sub-content">
                            <img src="https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">People
                            Love Us
                        </span>
                        <h2 class="digi-title">Why Choose Us</h2>
                        <p class="about-para">We campaign team of synergy from individual
                            and set up .</p>
                        <div class="inner-item">
                            <div class="item">1</div>
                                <h3 class="data1">Data For All People</h3>
                                <p class="pr1">We campaign team of synergy from individual
                                    and set up the business with change + positive progressive </p>
                        
                        </div>
                        <div class="inner-item">
                            <div class="item">2</div>
                                <h3 class="data1">New Brred For Ux</h3>
                                <p class="pr1">We campaign team of synergy from individual
                                    and set up the business with change + positive progressive </p>
                            
                        </div>
                        <div class="inner-item">
                            <div class="item">3</div>
                                <h3 class="data1">Analytics Bussines</h3>
                                <p class="pr1">We campaign team of synergy from individual
                                    and set up </p>
                            
                        </div>
                    </div>

                    <div class=" col-lg-6 col-md-12  ">
                        <div class="title">
                            <div class="side-img">
                            <img src="https://code-concrete.com/assets/img/how-its-work.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>








<section class="content pb-100 pb-70">
    <div class="container">
        <div class="section-title d-flex">
            <div class="row mb-0">
                <div class="col-lg-6  col-md-12">
                <img src="https://code-concrete.com/assets/img/project-start1.png" alt="" class="deck" >
                </div>
                <div class="col-lg-6  col-md-12">
            <h2 class="content-sub"> We Different From 
                Other Should Choose Us</h2>
            <p class="content-para">I am who I am today because of the choices I made yesterday.”</p>
            <a href="" class="btn"><i class="fa-regular fa-webhook"></i>get start</a>
        </div></div></div></div>
    
   
   
</section>
