<footer class="element">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-4 col-12 col-sm-12">
            <div class="footer-line">
 <a  class="logo">
    <img src="https://code-concrete.com/assets/logo/code-concrete-logo.svg" alt="">
 </a>
 <p class="footer-pr">Code-Concrete Solutions provides a complete solution for your Web application, 
    Mobile application and Ongoing support requirements. Also helping to grow up your business and we are working for startups.</p>
    <ul class="icon d-flex">
        <li>
            <a class="d-block">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a class="d-block">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li>
            <a class="d-block">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 text-center">
            <div class="second-footer">
                <h3 class="explore">Explore</h3>
                <ul class="footer-link">
                    <li  class="active"> <a href="">Home</a></li>
                    <li> <a href="">About</a></li>
                    <li> <a href="">Serives</a></li>
                    <li> <a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 text-center">
            <div class="second-footer">
                <h3 class="explore">Address</h3>
                <ul class="footer-contact">
                    <li> <a href=""><i class="fa-solid fa-location-dot"></i>318 , Times Corner, VIP Road, Surat, Gujarat 395007</a></li>
                    <li> <a href=""><i class="fa-solid fa-phone"></i>+91 78028 77996</a></li>
                    <li> <a href=""><i class="fa-sharp fa-solid fa-envelope"></i>codeconcretesolutions@gmail.com</a></li>
                    
                </ul>
            </div></div>
    </div>
</div>
<div class="footer-bootom" >
    <div class="row align-item-center">
        <div class="col-lg-6 col-md-6">
            <p class="copyright">
                <i class="fa-solid fa-copyright">
                   <small> All Right Reserved </small><a >Code Concrete Solution</a>
                </i>
            </p>

        </div>
        <div class="col-lg-6 col-md-6"> 
          <ul class="term d-flex">
            <li><a href="">Privacy Policy</a> </li>
            <li><a href="">Term & Condition</a> </li>
          </ul>
        </div>
    </div>
</div>
</footer>
