<div class="home pb-100 ptb-100 pb-70">

    <div class="container" style="max-width:1355px;">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="heading">
                     <h1 class="first">Secure IT Solution Services</h1>
                    <p class="first-prg">
                        With the help of Innovation and Technology, We give you the power to change the world with your
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-6">
                <img src="https://code-concrete.com/assets/img/banner-img1.png" alt="" class="rightHome">
            </div>
        </div>
    </div> 
</div>





<section class="solution-area pb-70 pbt-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <img src="	https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">
                   Our solution
            </span>
            <h2 class="main-sub"> We Different From Other Should Choose Us</h2>
            <p class="sub-para">I am who I am today because of the choices I made yesterday.”</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 ">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                    <h3 class="rw-title">
                        <a href="">Code Security</a>
                    </h3>
                    <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                        use to protect your digital and analog information.
                        InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                        and testing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-laptop"></i>
                    </div>
                    <h3 class="rw-title">
                        <a href="">Code Security</a>
                    </h3>
                    <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                        use to protect your digital and analog information.
                        InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                        and testing.</p>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6  ">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-sack-dollar"></i>
                    </div>
                    <h3 class="rw-title">
                        <a href="">Code Security</a>
                    </h3>
                    <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                        use to protect your digital and analog information.
                        InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                        and testing.</p>
                </div>
            </div>
        </div>



        <section class="about-area pb-100">
            <div class="container-fluid">
                <div class="row align-item-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-img">
                            <img src="https://code-concrete.com/assets/img/about/img6.png" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-section">
                            <div class="section">
                                <span class="services">
                                    <img src="	https://code-concrete.com/assets/img/star-icon.png" alt=""
                                        class="rotate">
                                    services </span>
                                <h2 class="title">Cloud Hoisting Services</h2>

                                <p class="about-para">The FREE cPanel makes management super easy. Manage all your email
                                    accounts, domains &amp; orders with zero complications.
                                    Setup your Cloud Hosting package in minutes and get your website on the cloud.</p>
                                <ul class="about-list">
                                    <li> <span>
                                            <div class="list mb-0">
                                                <i class="fa-regular fa-square-check"></i>
                                                cloud services
                                            </div>
                                        </span></li>
                                    <li> <span>
                                            <div class="list mb-0">
                                                <i class="fa-regular fa-square-check"></i>
                                                Website Hoisting
                                            </div>
                                        </span></li>
                                    <li> <span>
                                            <div class="list mb-0">
                                                <i class="fa-regular fa-square-check"></i>
                                                File Storage
                                            </div>
                                        </span></li>
                                    <li> <span>
                                            <div class="list mb-0">
                                                <i class="fa-regular fa-square-check"></i>
                                                Forex Trending
                                            </div>
                                        </span></li>
                                    <li> <span>
                                            <div class="list mb-0">
                                                <i class="fa-regular fa-square-check"></i>
                                                Remote Desktop
                                            </div>
                                        </span></li>
                                    <li> <span>
                                            <div class="list mb-0">
                                                <i class="fa-regular fa-square-check"></i>
                                                File Backup
                                            </div>
                                        </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>






        <!---services-->
        <section class="services pb-100">
            <div class="container-fluid">
                <div class="row align-item-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="services-section">
                            <span class="services-img">
                                <img src="	https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">
                                services </span>
                            <h2 class="title">Design And Development</h2>
                            <p class="services-para"> Designing and developing information involves the processes
                                of information management—a cycle of acquisition, development, distribution, and review.
                            </p>
                            <ul class="about-list mb-0">
                                <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                            cloud services
                                        </div>
                                    </span></li>
                                <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                            Website Hoisting
                                        </div>
                                    </span></li>
                                <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                            File Storage
                                        </div>
                                    </span></li>
                                <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                            Forex Trending
                                        </div>
                                    </span></li>
                                <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                            Remote Desktop
                                        </div>
                                    </span></li>
                                <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                            File Backup
                                        </div>
                                    </span></li>
                                    <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                             Web Design
                                        </div>
                                    </span></li>
                                    <li> <span>
                                        <div class="list mb-0">
                                            <i class="fa-regular fa-square-check"></i>
                                            UL/UX
                                        </div>
                                    </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="main-services">
                            <img src="https://code-concrete.com/assets/img/our-mission/img3.png" alt="">
                        </div>

                    </div>

                </div>
            </div>

        </section>

       
       
       <!---development-->
     <section class="development pb-100 pb-70"> 
        <div class="container">
            <div class="section-title">
                <span class="sub-title">
                    <img src="	https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">
                    Services
                </span>
                <h2 class="main-sub"> We're Here To Help</h2>
                <p class="sub-para">I am who I am today because of the choices I made yesterday.” we firm believe in  quqlity</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="boxes">
                        <div class="icon">
                            <img src="https://code-concrete.com/assets/img/development.png" alt="" class="dev">
                        </div>
                        <h3 class="rw-title">
                            <a href="">Mobile Design</a>
                        </h3>
                        <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                            use to protect your digital and analog information.
                            InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                            and testing.</p>
                    </div>
                </div>
               
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="boxes">
                            <div class="icon">
                               <img src="https://code-concrete.com/assets/img/coding.png" alt="" class="dev">
                            </div>
                            <h3 class="rw-title">
                                <a href="">Web Developemnt</a>
                            </h3>
                            <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                use to protect your digital and analog information.
                                InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                and testing.</p>
                        </div>
                    </div>
                   
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="boxes">
                                <div class="icon">
                                  <img src="https://code-concrete.com/assets/img/web-design.png" alt="" class="dev">
                                </div>
                                <h3 class="rw-title">
                                    <a href="">Logo Design</a>
                                </h3>
                                <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                    use to protect your digital and analog information.
                                    InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                    and testing.</p>
                            </div>
                        </div>
                       
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="boxes">
                                    <div class="icon">
                                       <img src="https://code-concrete.com/assets/img/web-design.png" alt="" class="dev">
                                    </div>
                                    <h3 class="rw-title">
                                        <a href="">Web Design</a>
                                    </h3>
                                    <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                        use to protect your digital and analog information.
                                        InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                        and testing.</p>
                                </div>
                            </div>
                           
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="boxes">
                                        <div class="icon">
                                           <img src="https://code-concrete.com/assets/img/logo-design.png" alt="" class="dev">
                                        </div>
                                        <h3 class="rw-title">
                                            <a href="">Code Security</a>
                                        </h3>
                                        <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                            use to protect your digital and analog information.
                                            InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                            and testing.</p>
                                    </div>
                                </div> 
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="boxes">
                                            <div class="icon">
                                                <img src="https://code-concrete.com/assets/img/megaphone.png" alt="" class="dev">
                                            </div>
                                            <h3 class="rw-title">
                                                <a href="">Digital Marketing</a>
                                            </h3>
                                            <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                                use to protect your digital and analog information.
                                                InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                                and testing.</p>
                                        </div>
                                    </div>
                                </div></div>
    
     </section>       
       
       
       

     <!---project-->

     <section class="project pb-100 pb-70 bg-color">
       
        <div class="container">
            <div class="section-title">
                <span class="sub-title">
                    <img src="	https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">
                    Services
                </span>
                <h2 class="main-sub"> Check Our Recent Project</h2>
                <p class="sub-para">I am who I am today because of the choices I made yesterday.”</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="project-img">
                <img src="https://code-concrete.com/assets/img/project1.png" alt="">
            
            <div class="project-heading">
                <h3 class="title">HR Credence Services</h3>
                <span class="title-web">Web Design</span>
            </div>
                </div></div>
            </div>
        </div>
     </section>
       
       
       
       
       <section class="technology ptb-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">
                    <img src="	https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">
                    TECHNOLOGY
                </span>
            
                <h2 class="main-sub">We Have Work In Technology</h2>
            </div></div>
            <section class="menubar">
              <div class="container" style="max-width: 856px;"> 
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="web-menu">
                            <ul class="web-list">
                                <li class="active"> <a >Fronend</a> </li>
                                <li> <a >Backend</a> </li>
                                <li> <a >MobileApp</a> </li>
                                <li> <a >Cloud</a> </li>
                                <li> <a >Database</a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
              </div></section> 
          <section class="sidebar">
            <div class="container">
                <div class="row">
                    <div class="Box">
                    <div class="contain">
                       <img src="https://code-concrete.com/assets/img/Technology/frontend/angular.svg" alt="">
                     <div class="icon">
                        <h6 class="title">Angular</h6>
                     </div></div>
                     <div class="contain">
                        <img src="https://code-concrete.com/assets/img/Technology/frontend/reactjs.svg" alt="">
                      <div class="icon">
                         <h6 class="title">Reactjs</h6>
                      </div></div>
                      <div class="contain">
                        <img src="https://code-concrete.com/assets/img/Technology/frontend/view.svg" alt="">
                      <div class="icon">
                         <h6 class="title">Vuejs</h6>
                      </div></div>
                      <div class="contain">
                        <img src="https://code-concrete.com/assets/img/Technology/frontend/javascript.svg" alt="">
                      <div class="icon">
                         <h6 class="title">javascript</h6>
                      </div></div>
                      <div class="contain">
                        <img src="https://code-concrete.com/assets/img/Technology/frontend/telwind.svg" alt="">
                      <div class="icon">
                         <h6 class="title">Telwind</h6>
                      </div></div>
                      <div class="contain">
                        <img src="https://code-concrete.com/assets/img/Technology/frontend/bootstrap.svg" alt="">
                      <div class="icon">
                         <h6 class="title">Bootstrap</h6>
                      </div></div>
                      <div class="contain">
                        <img src="https://code-concrete.com/assets/img/Technology/frontend/scss.svg" alt="">
                      <div class="icon">
                         <h6 class="title">Scss</h6>
                      </div></div>
                      <div class="contain">
                        <img src="https://code-concrete.com/assets/img/Technology/frontend/css3.svg" alt="">
                      <div class="icon">
                         <h6 class="title">Css3</h6>
                      </div></div>
                    
                </div></div></div>
          </section>



          <section class="content pb-100 pb-70">
            <div class="container">
                <div class="section-title d-flex">
                    <div class="row mb-0">
                        <div class="col-lg-6  col-md-12">
                        <img src="https://code-concrete.com/assets/img/project-start1.png" alt="" class="deck" >
                        </div>
                        <div class="col-lg-6  col-md-12">
                            <div class="boxes">
                    <h2 class="content-sub"> We Different From 
                        Other Should Choose Us</h2>
                    <p class="content-para">I am who I am today because of the choices I made yesterday.”</p>
                    <a href="" class="btn"><i class="fa-regular fa-webhook"></i>get start</a>
                </div></div></div></div></div>
            
           
           
        
    <div class="circle-img">
        <img src="https://code-concrete.com/assets/img/shape/circle-shape1.png" alt="">
    </div>
</section>


       </section>
       
       
