

   
<nav id="navbar" class="d-flex s-around bg-color" >
    <div class="left-nav">
        <img src="https://code-concrete.com/assets/logo/code-concrete-logo.svg" alt="" width="50%"> 
    </div>
    <div class="navbar pull-right " *ngIf="!ismenu">
      
        <input type="checkbox" class="check" id="check">



      



        
        <label for="check" class="checkBtn">
            <i class="fa fa-bars"></i></label>
       <ul class="list"> 
            <li class="active"> <a href="" > Home </a></li>
           <li> <a routerLink="/about"> About </a></li>
           <li> <a routerLink="/Plans"> Services </a></li>
           <li> <a routerLink="/Contact"> Contact </a></li>
        </ul>
    </div>
</nav>




