<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-lg-4">

                <div class="about-page">
                    <h2 class="title">Services</h2>
                    <ul class="about-list d-flex">
                        <li> <img src="https://code-concrete.com/assets/img/shape/shape1.svg" alt=""
                                class="first-img">Home</li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
      
      
        </div></div>
</section>

        <section class="development pb-100 pb-70"> 
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">
                        <img src="	https://code-concrete.com/assets/img/star-icon.png" alt="" class="rotate">
                        Services
                    </span>
                    <h2 class="main-sub"> We're Here To Help</h2>
                    <p class="sub-para">I am who I am today because of the choices I made yesterday.” we firm believe in  quqlity</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="boxes">
                            <div class="icon">
                                <img src="https://code-concrete.com/assets/img/development.png" alt="" class="dev">
                            </div>
                            <h3 class="rw-title">
                                <a href="">Mobile Design</a>
                            </h3>
                            <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                use to protect your digital and analog information.
                                InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                and testing.</p>
                        </div>
                    </div>
                   
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="boxes">
                                <div class="icon">
                                   <img src="https://code-concrete.com/assets/img/coding.png" alt="" class="dev">
                                </div>
                                <h3 class="rw-title">
                                    <a href="">Web Developemnt</a>
                                </h3>
                                <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                    use to protect your digital and analog information.
                                    InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                    and testing.</p>
                            </div>
                        </div>
                       
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="boxes">
                                    <div class="icon">
                                      <img src="https://code-concrete.com/assets/img/web-design.png" alt="" class="dev">
                                    </div>
                                    <h3 class="rw-title">
                                        <a href="">Logo Design</a>
                                    </h3>
                                    <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                        use to protect your digital and analog information.
                                        InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                        and testing.</p>
                                </div>
                            </div>
                           
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="boxes">
                                        <div class="icon">
                                           <img src="https://code-concrete.com/assets/img/web-design.png" alt="" class="dev">
                                        </div>
                                        <h3 class="rw-title">
                                            <a href="">Web Design</a>
                                        </h3>
                                        <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                            use to protect your digital and analog information.
                                            InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                            and testing.</p>
                                    </div>
                                </div>
                               
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="boxes">
                                            <div class="icon">
                                               <img src="https://code-concrete.com/assets/img/logo-design.png" alt="" class="dev">
                                            </div>
                                            <h3 class="rw-title">
                                                <a href="">Code Security</a>
                                            </h3>
                                            <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                                use to protect your digital and analog information.
                                                InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                                and testing.</p>
                                        </div>
                                    </div> 
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="boxes">
                                                <div class="icon">
                                                    <img src="https://code-concrete.com/assets/img/megaphone.png" alt="" class="dev">
                                                </div>
                                                <h3 class="rw-title">
                                                    <a href="">Digital Marketing</a>
                                                </h3>
                                                <p class="rp-title"> InfoSec, or information security, is a set of tools and practices that you can
                                                    use to protect your digital and analog information.
                                                    InfoSec covers a range of IT domains, including infrastructure and network security, auditing,
                                                    and testing.</p>
                                            </div>
                                        </div>
                                    </div></div>

        </section>
    

                                    <section class="content pb-100 pb-70">
                                        <div class="container">
                                            <div class="section-title ">
                                                <div class="row ">
                                                    
                                                  <div class="deck d-flex">
                                                    <div class=" col-lg-6 col-md-12">
                                                        <div class="mod">
                                                    <img src="https://code-concrete.com/assets/img/project-start1.png" alt="" >
                                                  </div></div>
                                                  <div class=" col-lg-6 col-md-12">
                                                    <div class="mod">
                                                <h2 class="content-sub"> We Different From Other Should Choose Us</h2>
                                                <p class="content-para">I am who I am today because of the choices I made yesterday.”</p>
                                                <a href="" class="btn"><i class="fa-regular fa-webhook"></i>get start</a>
                                            </div></div>
                                        
                                        <div class=" col-lg-6 col-md-12">
                                        <div class="circle-img">
                                            <img src="https://code-concrete.com/assets/img/shape/circle-shape1.png" alt="">
                                        </div></div></div></div></div></div>
                                    </section>
        
